In [ ]:
# https://support.illumina.com/help/pooling-calculator/pooling-calculator.htm
# use the link above to drop csv values from this script into for pooling

In [1]:
import pandas as pd

In [2]:
dilution_factor = float(input('enter dilution factor. E.g. 1:1000 dilution enter "1000"'))
dilution_factor = dilution_factor / 1000
dilution_factor

10.0

In [3]:
plate_1 = pd.read_csv('/Users/David.Sokol/Desktop/sc_wgbs_comp/laird/20220321_rmgii_scwgbs/20220329_rmgii_scwgbs_qpcr/admin_2022-03-29 11-47-44_CT025776_plate1.csv', header = 19) # CHANGE ME: fix file path
plate_1['starting_quantity_dilution_corrected'] = plate_1['Starting Quantity (SQ)'] * dilution_factor
plate_1 = plate_1[12:96]
plate_1_index = pd.read_csv('/Users/David.Sokol/Documents/py_scripts/automation/plate_1_index.csv')
plate_1 = pd.merge(plate_1, plate_1_index, on = 'Well')
plate_1

,Well,Fluor,Target,Content,Sample,Cq,Starting Quantity (SQ),starting_quantity_dilution_corrected,sample_plate_index
0,B01,SYBR,NaN,Unkn,NaN,14.545746,0.365237,3.652372,A01
1,B02,SYBR,NaN,Unkn,NaN,15.305662,0.219594,2.195935,A02
2,B03,SYBR,NaN,Unkn,NaN,14.054008,0.507639,5.076386,A03
3,B04,SYBR,NaN,Unkn,NaN,15.007354,0.268137,2.681368,A04
4,B05,SYBR,NaN,Unkn,NaN,13.558318,0.707429,7.074293,A05
...,...,...,...,...,...,...,...,...,...
79,H08,SYBR,NaN,Unkn,NaN,13.323623,0.827797,8.277972,D08
80,H09,SYBR,NaN,Unkn,NaN,22.265861,0.002079,0.020790,D09
81,H10,SYBR,NaN,Unkn,NaN,15.095929,0.252698,2.526981,D10
82,H11,SYBR,NaN,Unkn,NaN,13.651878,0.664476,6.644758,D11
83,H12,SYBR,NaN,Unkn,NaN,14.309509,0.427823,4.278230,D12

In [4]:
plate_2 = pd.read_csv('/Users/David.Sokol/Desktop/sc_wgbs_comp/laird/20220321_rmgii_scwgbs/20220329_rmgii_scwgbs_qpcr/admin_2022-03-29 11-45-02_795BR02066_plate2.csv', header = 19) # CHANGE ME: fix file path
plate_2['starting_quantity_dilution_corrected'] = plate_2['Starting Quantity (SQ)'] * dilution_factor
plate_2 = plate_2[12:96]
plate_2_index = pd.read_csv('/Users/David.Sokol/Documents/py_scripts/automation/plate_2_index.csv')
plate_2 = pd.merge(plate_2, plate_2_index, on = 'Well')
plate_2

,Well,Fluor,Target,Content,Sample,Cq,Starting Quantity (SQ),starting_quantity_dilution_corrected,sample_plate_index
0,B01,SYBR,NaN,Unkn,NaN,14.090639,0.530993,5.309925,E01
1,B02,SYBR,NaN,Unkn,NaN,14.038685,0.549533,5.495327,E02
2,B03,SYBR,NaN,Unkn,NaN,14.268237,0.472213,4.722129,E03
3,B04,SYBR,NaN,Unkn,NaN,15.061793,0.279560,2.795604,E04
4,B05,SYBR,NaN,Unkn,NaN,16.221317,0.129964,1.299636,E05
...,...,...,...,...,...,...,...,...,...
79,H08,SYBR,NaN,Unkn,NaN,17.393885,0.059900,0.598999,H08
80,H09,SYBR,NaN,Unkn,NaN,14.275649,0.469906,4.699063,H09
81,H10,SYBR,NaN,Unkn,NaN,19.041279,0.020175,0.201747,H10
82,H11,SYBR,NaN,Unkn,NaN,16.300182,0.123366,1.233663,H11
83,H12,SYBR,NaN,Unkn,NaN,14.132223,0.516605,5.166049,H12

In [6]:
sample_plate = pd.DataFrame(columns = ['well', 'concentration_nm'])
sample_plate.well = [ 
'A01', 'A02', 'A03', 'A04', 'A05', 'A06', 'A07', 'A08', 'A09', 'A10', 'A11', 'A12',
'B01', 'B02', 'B03', 'B04', 'B05', 'B06', 'B07', 'B08', 'B09', 'B10', 'B11', 'B12',
'C01', 'C02', 'C03', 'C04', 'C05', 'C06', 'C07', 'C08', 'C09', 'C10', 'C11', 'C12',
'D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10', 'D11', 'D12',
'E01', 'E02', 'E03', 'E04', 'E05', 'E06', 'E07', 'E08', 'E09', 'E10', 'E11', 'E12',
'F01', 'F02', 'F03', 'F04', 'F05', 'F06', 'F07', 'F08', 'F09', 'F10', 'F11', 'F12',
'G01', 'G02', 'G03', 'G04', 'G05', 'G06', 'G07', 'G08', 'G09', 'G10', 'G11', 'G12',
'H01', 'H02', 'H03', 'H04', 'H05', 'H06', 'H07', 'H08', 'H09', 'H10', 'H11', 'H12'
]
sample_plate

   well concentration_nm
0   A01              NaN
1   A02              NaN
2   A03              NaN
3   A04              NaN
4   A05              NaN
..  ...              ...
91  H08              NaN
92  H09              NaN
93  H10              NaN
94  H11              NaN
95  H12              NaN

[96 rows x 2 columns]

In [8]:
# fill in samples in row A
x = 0
y = 0
z = 12
while x <= 11:
    sample_plate.concentration_nm[x] = (plate_1.starting_quantity_dilution_corrected[y] + plate_1.starting_quantity_dilution_corrected[z]) / 2
    x += 1
    y += 1
    z += 1
# fill in samples in row B
x = 12
y = 24
z = 36
while x <= 23:
    sample_plate.concentration_nm[x] = (plate_1.starting_quantity_dilution_corrected[y] + plate_1.starting_quantity_dilution_corrected[z]) / 2
    x += 1
    y += 1
    z += 1
# fill in samples in row C
x = 24
y = 48
z = 60
while x <= 35:
    sample_plate.concentration_nm[x] = (plate_1.starting_quantity_dilution_corrected[y] + plate_1.starting_quantity_dilution_corrected[z]) / 2
    x += 1
    y += 1
    z += 1
# fill in samples in row D
x = 36
y = 72
while x <= 47:
    sample_plate.concentration_nm[x] = plate_1.starting_quantity_dilution_corrected[y]
    x += 1
    y += 1
pd.set_option("display.max_rows", None, "display.max_columns", None)
sample_plate

   well concentration_nm
0   A01         3.800388
1   A02         2.378362
2   A03         5.218853
3   A04         2.925735
4   A05         7.548144
5   A06         0.034771
6   A07         7.283125
7   A08         5.023829
8   A09         6.537226
9   A10         7.209763
10  A11         2.556421
11  A12         5.618847
12  B01         0.122025
13  B02        10.251436
14  B03         5.309201
15  B04         4.215889
16  B05         8.386821
17  B06         8.256155
18  B07        12.544929
19  B08         7.151968
20  B09         6.787225
21  B10         0.031738
22  B11         10.03271
23  B12         2.808561
24  C01         7.035574
25  C02         8.303914
26  C03         6.159493
27  C04         0.014497
28  C05         9.146195
29  C06         5.673557
30  C07         2.127046
31  C08          0.02313
32  C09          8.08902
33  C10         0.000661
34  C11         0.000952
35  C12         6.244053
36  D01         5.228095
37  D02         5.343738
38  D03         7.233957
39  D04         1.679736
40  D05         1.329426
41  D06         4.604751
42  D07         2.612325
43  D08         8.277972
44  D09          0.02079
45  D10         2.526981
46  D11         6.644758
47  D12          4.27823
48  E01              NaN
49  E02              NaN
50  E03              NaN
51  E04              NaN
52  E05              NaN
53  E06              NaN
54  E07              NaN
55  E08              NaN
56  E09              NaN
57  E10              NaN
58  E11              NaN
59  E12              NaN
60  F01              NaN
61  F02              NaN
62  F03              NaN
63  F04              NaN
64  F05              NaN
65  F06              NaN
66  F07              NaN
67  F08              NaN
68  F09              NaN
69  F10              NaN
70  F11              NaN
71  F12              NaN
72  G01              NaN
73  G02              NaN
74  G03              NaN
75  G04              NaN
76  G05              NaN
77  G06              NaN
78  G07              NaN
79  G08              NaN
80  G09              NaN
81  G10              NaN
82  G11              NaN
83  G12              NaN
84  H01              NaN
85  H02              NaN
86  H03              NaN
87  H04              NaN
88  H05              NaN
89  H06              NaN
90  H07              NaN
91  H08              NaN
92  H09              NaN
93  H10              NaN
94  H11              NaN
95  H12              NaN

In [9]:
# fill in samples in row E
x = 48
y = 0
z = 12
while x <= 59:
    sample_plate.concentration_nm[x] = (plate_2.starting_quantity_dilution_corrected[y] + plate_2.starting_quantity_dilution_corrected[z]) / 2
    x += 1
    y += 1
    z += 1
# fill in samples in row F
x = 60
y = 24
z = 36
while x <= 71:
    sample_plate.concentration_nm[x] = (plate_2.starting_quantity_dilution_corrected[y] + plate_2.starting_quantity_dilution_corrected[z]) / 2
    x += 1
    y += 1
    z += 1
# fill in samples in row G
x = 72
y = 48
z = 60
while x <= 83:
    sample_plate.concentration_nm[x] = (plate_2.starting_quantity_dilution_corrected[y] + plate_2.starting_quantity_dilution_corrected[z]) / 2
    x += 1
    y += 1
    z += 1
# fill in samples in row H
x = 84
y = 72
while x <= 95:
    sample_plate.concentration_nm[x] = plate_2.starting_quantity_dilution_corrected[y]
    x += 1
    y += 1
sample_plate

   well concentration_nm
0   A01         3.800388
1   A02         2.378362
2   A03         5.218853
3   A04         2.925735
4   A05         7.548144
5   A06         0.034771
6   A07         7.283125
7   A08         5.023829
8   A09         6.537226
9   A10         7.209763
10  A11         2.556421
11  A12         5.618847
12  B01         0.122025
13  B02        10.251436
14  B03         5.309201
15  B04         4.215889
16  B05         8.386821
17  B06         8.256155
18  B07        12.544929
19  B08         7.151968
20  B09         6.787225
21  B10         0.031738
22  B11         10.03271
23  B12         2.808561
24  C01         7.035574
25  C02         8.303914
26  C03         6.159493
27  C04         0.014497
28  C05         9.146195
29  C06         5.673557
30  C07         2.127046
31  C08          0.02313
32  C09          8.08902
33  C10         0.000661
34  C11         0.000952
35  C12         6.244053
36  D01         5.228095
37  D02         5.343738
38  D03         7.233957
39  D04         1.679736
40  D05         1.329426
41  D06         4.604751
42  D07         2.612325
43  D08         8.277972
44  D09          0.02079
45  D10         2.526981
46  D11         6.644758
47  D12          4.27823
48  E01         5.409711
49  E02         5.716903
50  E03         4.736284
51  E04         3.056612
52  E05         3.480213
53  E06         1.682181
54  E07         1.127057
55  E08         10.31752
56  E09        18.845517
57  E10         7.522389
58  E11         6.327161
59  E12         14.36222
60  F01         1.055229
61  F02         6.269592
62  F03         2.961235
63  F04         4.433998
64  F05         1.267767
65  F06         2.549601
66  F07         1.205984
67  F08         1.662653
68  F09         16.35076
69  F10         7.113236
70  F11         7.552997
71  F12         8.058187
72  G01         5.475592
73  G02         6.061147
74  G03         0.033434
75  G04         0.012743
76  G05         4.527351
77  G06         4.888986
78  G07         4.604004
79  G08         6.668514
80  G09         5.313768
81  G10        10.608852
82  G11         0.022727
83  G12         0.128784
84  H01         0.030476
85  H02         0.044544
86  H03         5.007991
87  H04         6.862352
88  H05          5.45641
89  H06         4.814847
90  H07         8.868829
91  H08         0.598999
92  H09         4.699063
93  H10         0.201747
94  H11         1.233663
95  H12         5.166049

In [10]:
# illumina pooling calculator only accepts libraries with concentration greater than 0.5 nm
sample_plate_for_pooling = sample_plate[sample_plate.concentration_nm > 0.5]
sample_plate_for_pooling

   well concentration_nm
0   A01         3.800388
1   A02         2.378362
2   A03         5.218853
3   A04         2.925735
4   A05         7.548144
6   A07         7.283125
7   A08         5.023829
8   A09         6.537226
9   A10         7.209763
10  A11         2.556421
11  A12         5.618847
13  B02        10.251436
14  B03         5.309201
15  B04         4.215889
16  B05         8.386821
17  B06         8.256155
18  B07        12.544929
19  B08         7.151968
20  B09         6.787225
22  B11         10.03271
23  B12         2.808561
24  C01         7.035574
25  C02         8.303914
26  C03         6.159493
28  C05         9.146195
29  C06         5.673557
30  C07         2.127046
32  C09          8.08902
35  C12         6.244053
36  D01         5.228095
37  D02         5.343738
38  D03         7.233957
39  D04         1.679736
40  D05         1.329426
41  D06         4.604751
42  D07         2.612325
43  D08         8.277972
45  D10         2.526981
46  D11         6.644758
47  D12          4.27823
48  E01         5.409711
49  E02         5.716903
50  E03         4.736284
51  E04         3.056612
52  E05         3.480213
53  E06         1.682181
54  E07         1.127057
55  E08         10.31752
56  E09        18.845517
57  E10         7.522389
58  E11         6.327161
59  E12         14.36222
60  F01         1.055229
61  F02         6.269592
62  F03         2.961235
63  F04         4.433998
64  F05         1.267767
65  F06         2.549601
66  F07         1.205984
67  F08         1.662653
68  F09         16.35076
69  F10         7.113236
70  F11         7.552997
71  F12         8.058187
72  G01         5.475592
73  G02         6.061147
76  G05         4.527351
77  G06         4.888986
78  G07         4.604004
79  G08         6.668514
80  G09         5.313768
81  G10        10.608852
86  H03         5.007991
87  H04         6.862352
88  H05          5.45641
89  H06         4.814847
90  H07         8.868829
91  H08         0.598999
92  H09         4.699063
94  H11         1.233663
95  H12         5.166049

In [72]:
sample_plate.to_csv(r'/Users/David.Sokol/Desktop/sc_wgbs_comp/laird/20220321_rmgii_scwgbs/rmg_sample_plate_quant_python.csv', index = False)
sample_plate_for_pooling.to_csv(r'/Users/David.Sokol/Desktop/sc_wgbs_comp/laird/20220321_rmgii_scwgbs/rmg_sample_plate_pool_python.csv', index = False)

In [11]:
cells_per_well = pd.read_csv('/Users/David.Sokol/Documents/py_scripts/automation/cells_per_well.csv') # CHANGE ME: fix file path and edit data within csv to match experiment
sample_plate = pd.merge(sample_plate, cells_per_well, on = 'well')
sample_plate

   well concentration_nm  cells
0   A01         3.800388      1
1   A02         2.378362      1
2   A03         5.218853      1
3   A04         2.925735      1
4   A05         7.548144      1
5   A06         0.034771      0
6   A07         7.283125      1
7   A08         5.023829      1
8   A09         6.537226      1
9   A10         7.209763      1
10  A11         2.556421      1
11  A12         5.618847      0
12  B01         0.122025      1
13  B02        10.251436      1
14  B03         5.309201      1
15  B04         4.215889      1
16  B05         8.386821      1
17  B06         8.256155      0
18  B07        12.544929      1
19  B08         7.151968      1
20  B09         6.787225      1
21  B10         0.031738      1
22  B11         10.03271      1
23  B12         2.808561      0
24  C01         7.035574      1
25  C02         8.303914      1
26  C03         6.159493      1
27  C04         0.014497      1
28  C05         9.146195      1
29  C06         5.673557      0
30  C07         2.127046      1
31  C08          0.02313      1
32  C09          8.08902      1
33  C10         0.000661      1
34  C11         0.000952      1
35  C12         6.244053      0
36  D01         5.228095      1
37  D02         5.343738      1
38  D03         7.233957      1
39  D04         1.679736      1
40  D05         1.329426      1
41  D06         4.604751      0
42  D07         2.612325      1
43  D08         8.277972      1
44  D09          0.02079      1
45  D10         2.526981      1
46  D11         6.644758      1
47  D12          4.27823      0
48  E01         5.409711      1
49  E02         5.716903      1
50  E03         4.736284      1
51  E04         3.056612      1
52  E05         3.480213      1
53  E06         1.682181      0
54  E07         1.127057      1
55  E08         10.31752      1
56  E09        18.845517      1
57  E10         7.522389      1
58  E11         6.327161      1
59  E12         14.36222      0
60  F01         1.055229      1
61  F02         6.269592      1
62  F03         2.961235      1
63  F04         4.433998      1
64  F05         1.267767      1
65  F06         2.549601      2
66  F07         1.205984      1
67  F08         1.662653      1
68  F09         16.35076      1
69  F10         7.113236      1
70  F11         7.552997      1
71  F12         8.058187      2
72  G01         5.475592      1
73  G02         6.061147      1
74  G03         0.033434      1
75  G04         0.012743      1
76  G05         4.527351      1
77  G06         4.888986      2
78  G07         4.604004      1
79  G08         6.668514      1
80  G09         5.313768      1
81  G10        10.608852      1
82  G11         0.022727      1
83  G12         0.128784      2
84  H01         0.030476      1
85  H02         0.044544      1
86  H03         5.007991      1
87  H04         6.862352      1
88  H05          5.45641      1
89  H06         4.814847     50
90  H07         8.868829      1
91  H08         0.598999      1
92  H09         4.699063      1
93  H10         0.201747      1
94  H11         1.233663      1
95  H12         5.166049     50

In [74]:
sample_plate.to_csv(r'/Users/David.Sokol/Desktop/sc_wgbs_comp/laird/20220321_rmgii_scwgbs/rmg_sample_metadata.csv', index = False)